<!DOCTYPE hibernate-configuration PUBLIC 
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"     
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
	     <!-- 数据库配置信息 5条 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb1</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">gaokao123</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- 辅助配置，可有可无 -->
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="hibernate.show_sql">true</property>
        <!-- 自动生成表结构的方法，第一种如下配置 不太建议 第二种 用工具类 SchemaExport 
        <property name="hbm2ddl.auto">update</property>
         -->
        
		<!-- 映射文件 -->
		<mapping resource="com/elvis/domain/User.hbm.xml"/>
		<mapping resource="com/elvis/domain/Room.hbm.xml"/>
		<mapping resource="com/elvis/domain/Reservation.hbm.xml"/>
		
		
		
		
	</session-factory>
</hibernate-configuration>